html, body {
    height: 100%;
    margin: 0;
    min-width: 320px;
    padding: 0;
}

.overlay {
    background-color: black;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
    width: 100%;
    z-index: 15;
}

.overlay-open {
    display: block;
    opacity: 0.3;
}

.sidenav {
    background-color: white;
    box-shadow: 0 -1px 24px rgba(0, 0, 0, 0.4);
    height: 100%;
    left: -340px;
    top: 0;
    padding: 0.5em 1em;
    position: absolute;
    transform: translateX(0);
    transition-duration: 0.3s;
    transition-property: transform;
    width: 320px;
    z-index: 20;
}

.sidenav-open {
    transform: translateX(340px);
}

.sidenav > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav ul li {
    height: 2em;
}

main {
    height: 100%;
}

#search {
    align-items: center;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5em;
    display: flex;
    position: fixed;
    left: 0.5em;
    right: 0.5em;
    top: 0.5em;
    z-index: 10;
}

.nav-icon,
.nav-close-icon {
    cursor: pointer;
    margin: 0 0.5em;
    width: 1.25em;
}
  
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #000;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}

.nav-close-icon:after,
.nav-close-icon:before,
.nav-close-icon div {
    background-color: #000;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}

.nav-close-icon:after {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav-close-icon div {
    opacity: 0;
}

.nav-close-icon:before {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#search > form {
    flex-grow: 2;
}

#search > form > input[name=location] {
    background-color: #fff!important;
    border: 0px;
}

#search-this-area {
    bottom: 2em;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 15;
}

#search-this-area > button {
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
}

#map {
    height: 100%;
    width: 100%;
}

#add-business {
    bottom: 2em;
    position: fixed;
    right: 2em;
    z-index: 15;
}

#add-business > button {
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
}

#add-modal .modal-body {
    height: 60vh;
    overflow-y: scroll;
}

#modal-msg2 {
    display: none;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.grecaptcha-badge {
    display: none !important;
}

#services-header {
    font-weight: bold;
}

#services-error {
    display: none;
    color: red;
}

@media (min-width: 600px) {
    #search {
        width: 600px;
    }
}